<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>CollegeInsider</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookSearchServlet</display-name>
    <servlet-name>BookSearchServlet</servlet-name>
    <servlet-class>BookSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSearchServlet</servlet-name>
    <url-pattern>/BookSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListLostFoundItemsServlet</display-name>
    <servlet-name>ListLostFoundItemsServlet</servlet-name>
    <servlet-class>ListLostFoundItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListLostFoundItemsServlet</servlet-name>
    <url-pattern>/ListLostFoundItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLostFoundItemServlet</display-name>
    <servlet-name>AddLostFoundItemServlet</servlet-name>
    <servlet-class>AddLostFoundItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLostFoundItemServlet</servlet-name>
    <url-pattern>/AddLostFoundItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTeamServlet</display-name>
    <servlet-name>ListTeamServlet</servlet-name>
    <servlet-class>ListTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTeamServlet</servlet-name>
    <url-pattern>/ListTeamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeamupServlet</display-name>
    <servlet-name>AddTeamupServlet</servlet-name>
    <servlet-class>AddTeamupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeamupServlet</servlet-name>
    <url-pattern>/AddTeamupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListStudyServlet</display-name>
    <servlet-name>ListStudyServlet</servlet-name>
    <servlet-class>ListStudyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStudyServlet</servlet-name>
    <url-pattern>/ListStudyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudyServlet</display-name>
    <servlet-name>AddStudyServlet</servlet-name>
    <servlet-class>AddStudyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudyServlet</servlet-name>
    <url-pattern>/AddStudyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtravelServlet</display-name>
    <servlet-name>AddtravelServlet</servlet-name>
    <servlet-class>AddtravelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtravelServlet</servlet-name>
    <url-pattern>/AddtravelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListtravelServlet</display-name>
    <servlet-name>ListtravelServlet</servlet-name>
    <servlet-class>ListtravelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListtravelServlet</servlet-name>
    <url-pattern>/ListtravelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListtroomfindServlet</display-name>
    <servlet-name>ListtroomfindServlet</servlet-name>
    <servlet-class>ListtroomfindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListtroomfindServlet</servlet-name>
    <url-pattern>/ListtroomfindServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddroomfinderServlet</display-name>
    <servlet-name>AddroomfinderServlet</servlet-name>
    <servlet-class>AddroomfinderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddroomfinderServlet</servlet-name>
    <url-pattern>/AddroomfinderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListshareServlet</display-name>
    <servlet-name>ListshareServlet</servlet-name>
    <servlet-class>ListshareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListshareServlet</servlet-name>
    <url-pattern>/ListshareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddshareServlet</display-name>
    <servlet-name>AddshareServlet</servlet-name>
    <servlet-class>AddshareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddshareServlet</servlet-name>
    <url-pattern>/AddshareServlet</url-pattern>
  </servlet-mapping>
</web-app>